*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
body{
    height: auto;
    width: 100%;
    background-color: #f1f1f1;
    /* overflow-x: hidden; */
}
@font-face{
    src: url(/fonts/Raleway-Regular.ttf);
    font-family: Raleway;
}@font-face{
    src: url(/fonts/Roboto-Condensed.ttf);
    font-family: Roboto;
}
.admin-container{
    display: flex;
    height: 100vw;
}
#toggle-btn{
    cursor: pointer;
    position: absolute;
    left: 30px;
    z-index: 5500;
}
#toggle-btn.colored{
    color: #ffc300;
}
.header{
    background-color: #1c1c1c;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5000;
    position: sticky;
    top: 0;
    left: 0;
}
.header.active{
    left: 0px;
}
.head{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 50px;
    color: #f4f4f4;
    
}
.logo{
    background-color: #ffc300;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    left: 40px;
    margin-bottom: 15px;
    
}
.username{
    font-size: 3vh;
    font-family: Roboto;
    text-align: center;
}
.pys{
    font-size: 2vh;
    font-family: Roboto;
    text-align: center;
}

.nav-bar{
    position: relative;
    top: 200px;
    font-family: Roboto;
    font-size: 3.5vh;
    
}
.nav-bar .nav-item{
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #ccc;   
}
.nav-bar .nav-item{
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #ccc;   
}
.nav-bar .nav-item:hover{
    border-bottom: 1px solid #ffc300;   
}
.nav-bar .nav-item .nav-link{
    text-decoration: none;
    line-height: 40px;
    color: #f4f4f4;
}
/* .nav-link.activeLink{
    color: #ffc300 !important;
} */
.nav-bar .nav-item .nav-link:active, .nav-bar .nav-item .nav-link:hover{
    color: #ffc300;
}
/* .nav-bar .nav-item .nav-link:visited{
    color: #ffc300;
} */

.signout{
    position: relative;
    top: 250px;
    font-family: Roboto;
    font-size: 3vh;
    line-height: 40px;
    text-decoration: none;
    color: #f4f4f4;
}
#dashboard-wrap{
    font-family: Roboto;
    width: 100%;
    /* overflow: scroll; */
    padding-bottom: 30px;
    height: auto;
}
#showcase{
    position: relative;
}
#showcase, #showcase1{
    background-image: url(../images/showcase1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#showcase{
    min-height: 250px;
}
#showcase1{
    min-height: 150px;
}
#showcase>h1, #showcase>h2{
    position: relative;
}
#showcase>h1{
    font-size: 10vh;
    line-height: 60px;
    padding: 10px;
}
.dash-grid-wrap{
    position: relative;
    height: auto;
}
.dash-grid{
    position: relative;
    top: 20px;
    margin: auto;
    margin-bottom: 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    padding-bottom: 30px;
    /* margin-bottom: 20px; */
}
.gridbox{
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 4px 4px #eaeaea;
}
#box1{
    grid-column: 1/3;
    grid-row: 1/1;
    border-left: 8px solid #A20012;
}
.box1-bar{
    display: flex;
    margin: 3px 0;
}
.price-box1{
    flex: 3;
}
.description-box1{
    flex: 6;
    padding: 3px;
}
.description-box1 > p{
    text-align: center;
    padding: 3px;
    font-size: 1.5em;
}
#box2{
    grid-column: 3/3;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-top: 25px solid #1c1c1c;
}
#box2 > h3{
    text-align: center !important;
}
.priority-list{
    margin: 3px 0;
    padding: 10px;
}
.priority-list > ul >li{
    list-style: none;
    margin: 3px 0;
}
#box3, #box4{
    background-color: #1c1c1c !important;
    text-align: center;
}
#box3 > h1, #box4 > h1{
    color: #ffc300;
    font-size: 3em;
}
#box3 > p, #box4 > p{
    color: #fff;
}
#box5{
    grid-row: 3/5;
    grid-column: 1/3;
    border-top: 15px solid #ffc300;
    display: flex;
    justify-content: center;
}
#feeSummary{
    padding: 3px;
    width: 100%;
}
#feeSummary th{
    color: #ccc !important;
    font-weight: 100;
    margin: 0 5px;
    text-align: center;
}
#feeSummary tr{
    padding: 3px;
    border-bottom: 5px solid #1c1c1c !important;
}

#feeSummary td{
    margin: 0 5px;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}
.content-wrap{
    margin: 40px auto;
    width: 70%;
    top: 260px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableMain th, .tableMain tr td{
    padding: 10px;
}
.tableMain th{
    background-color: #000 !important;
    color: #fff !important;
    font-size: 3.5vh;
}
.tableMain tr{
    font-size: 2vh;
    text-align: center;
}
.tableMain tr:nth-child(even){
    background-color: #ccc;
    color: #1c1c1c;
}
.tableMain tr:nth-child(odd){
    background-color: #1c1c1c;
    color: #ccc;
}
.tableMod{
    display: flex;
}
.edit-btn{
    text-decoration: none;
    color: green;
}
.del-btn{
    text-decoration: none;
    color: #BB0529;
}
.tableNav{
    display: flex;
    padding: 10px;
}
.prev, .nxt{
    position: relative;
    top: 12px;
    margin: 0 10px;
}
.prev{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #555;
    border-bottom: 10px solid transparent;
}
.nxt{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #555;
    border-bottom: 10px solid transparent; 
}
.prev:hover{
    border-right: 20px solid rgb(48, 48, 48);
}
.nxt:hover{
    border-left: 20px solid rgb(48, 48, 48);
}
/* .nav-btn{
    font-size: 3vh;
    font-weight: bold;
    padding: 5px;
    border: none;
    background-color:none;
    margin: 0 3px;
    position: relative;
    top: 5px;
    height: 40px;
    cursor: pointer;
} */
.add-btn{
    padding: 10px;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 100%;
    background-color: #ffc300;
    color: #1c1c1c;
    border: none;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    /* cursor: pointer; */
}
.add-btn:hover{
    background-color: rgba(255,195,0, 0.8);
    color: rgba(0, 0, 0, 0.7);
}

/* MEDIA QUERIES */
@media(max-width:768px){
    #showcase h1{
        font-size: 7vh;
    }
}
@media(max-width:1023px){
    .header{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        left: -300px;
        transition: all 0.3s linear;
    }
    .spacing-bottom{
        position: relative;
        z-index: 0;
        width: 100px;
        height: 100px;
        top: 150px;
        background-color: #fff;

    }
    .dash-grid{
        width: 70%;
        top: 260px;
        z-index: 0;
        margin-bottom: 40px;
    }
   
    #showcase{
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    .footer{
        width: 100%;
        position: absolute;
        z-index: 0;
        bottom: 0;
    }
}
@media(min-width:1024px){
    .nav-bar{
        position: relative;
    }
    .dash-grid{
        width: 80%;
    }
    #toggle-btn{
        display: none;
    }
}
@media(min-width:768px){
    .nav-bar{
        display: flex;
        flex-direction: column;
        width: 250;
    }

}
/* @media(min-width:320px){
    .dash-grid{
        position: relative;
        top: 200px;
    }
} */
/* .activeL{
    color: #ffc300 !important;
} */